<clr-vertical-nav-group *ngFor="let step of steps" (clrVerticalNavGroupExpandedChange)="onBlockClicked($event, step)">

  <clr-icon [attr.shape]="step.wizardProperties.shape" [ngClass]="getClassForProcess(step.state.type)" clrVerticalNavIcon></clr-icon>


  <div class="clr-row">
      <div class="clr-col-8" style="overflow: hidden;">
              {{step.name | translate}}
      </div>
      <div class="clr-col-4">
          <clr-signpost (click)="$event.stopPropagation();">

              <span class="label" [ngClass]="getClassForLabel(step.state.type)" clrSignpostTrigger>
                  {{processStateForTranslate(step.state.type) | translate}}
              </span>

              <clr-signpost-content>
                      <p class="signpost-content-body-paragraph">
                          <span class="label" [ngClass]="getClassForLabel('unavailable')">
                              {{processStateForTranslate('unavailable') | translate}}
                          </span>
                          {{ "UnavailableStateDescription" | translate }}
                          </p>
                      <p class="signpost-content-body-paragraph">
                          <span class="label" [ngClass]="getClassForLabel('available')">
                              {{processStateForTranslate('available') | translate}}
                          </span>
                          {{ "AvailableStateDescription" | translate }}
                          </p>
                      <p class="signpost-content-body-paragraph">
                          <span class="label" [ngClass]="getClassForLabel('running')">
                              {{processStateForTranslate('running') | translate}}
                          </span>
                          {{ "RunningStateDescription" | translate }}
                          </p>
                      <p class="signpost-content-body-paragraph">
                          <span class="label" [ngClass]="getClassForLabel('completed')">
                              {{processStateForTranslate('completed') | translate}}
                          </span>
                          {{ "CompletedStateDescription" | translate }}
                          </p>
                      <p class="signpost-content-body-paragraph">
                          <span class="label" [ngClass]="getClassForLabel('error')">
                              {{processStateForTranslate('error') | translate}}
                          </span>
                          {{ "ErrorStateDescription" | translate }}
                      </p>
              </clr-signpost-content>

          </clr-signpost>
      </div>
  </div>

  <ng-template [clrIfExpanded]="hasFocus(step) | async" (clrIfExpandedChange)="updateGroupExpand($event)">
      <clr-vertical-nav-group-children class="padding title-ellipsis" *clrIfExpanded>
          <ukis-wizard-page [step]="step"> </ukis-wizard-page>
      </clr-vertical-nav-group-children>
  </ng-template>

</clr-vertical-nav-group>

