
<!-- <form [formGroup]="bboxFormGroup" class="container">
    <div class="a">
        <label>lonmin</label>
        <input clrInput formControlName="lllon" />
    </div>
    <div class="b">
        <label>latmin</label>
        <input clrInput formControlName="lllat" />
    </div>
    <div class="c">
        <label>lonmax</label>
        <input clrInput formControlName="urlon" />
    </div>
    <div class="d">
        <label>latmax</label>
        <input clrInput formControlName="urlat" />
    </div>
</form> -->

<form clrForm [formGroup]="bboxFormGroup">

    <div class="clr-row">
        <div class="clr-col-2">
            <span class="label">lower left:</span>
        </div>
        <div class="clr-col-5">
            <clr-input-container>
                <label>lon</label>
                <input clrInput formControlName="lllon" />
                <clr-control-error>Invalid input</clr-control-error>
            </clr-input-container>
        </div>
        <div class="clr-col-5">
            <clr-input-container>
                <label>lat</label>
                <input clrInput formControlName="lllat" />
                <clr-control-error>Invalid input</clr-control-error>
            </clr-input-container>
        </div>
    </div>

    <div class="clr-row">
        <div class="clr-col-2">
            <span class="label">upper right:</span>
        </div>
        <div class="clr-col-5">
            <clr-input-container>
                <label>lon</label>
                <input clrInput formControlName="urlon" />
                <clr-control-error>Invalid input</clr-control-error>
            </clr-input-container>
        </div>
        <div class="clr-col-5">
            <clr-input-container>
                <label>lat</label>
                <input clrInput formControlName="urlat" />
                <clr-control-error>Invalid input</clr-control-error>
            </clr-input-container>
        </div>
    </div>
</form>