.clr-form-control {
    margin-top: 0rem;
}

.clr-input {
    max-width: 50px;
}

.container {
    width: 100%;
    margin: auto;
    display: table-row;
}

.a {
    display: table-cell;
    width: 25%;
}

.b {
    display: table-cell;
    width: 25%;
}

.c {
    display: table-cell;
    width: 25%;
}

.d {
    display: table-cell;
    width: 25%;
}

// .a {
//     margin-left: 0%;
//     width: 25%;
// }

// .b {
//     margin-left: 25%;
//     width: 25%;
// }

// .c {
//     margin-left: 50%;
//     width: 25%;
// }

// .d {
//     margin-left: 75%;
//     width: 25%;
// }