<clr-header class="header-1">
  <div class="branding" [ngClass]="{'short-title':shortTitle}">
    <a href="http://www.riesgos.de/{{translator.currentLang | lowercase}}" target="_blank" alt="link to riesgos homepage">
      <clr-icon shape="riesgos" class="is-slolid" size="33" alt="riesgos icon" style="color: white;"></clr-icon>
    </a>
    <!-- <a href="https://www.dlr.de/eoc/desktopdefault.aspx/tabid-5413/10560_read-21914" target="_blank" alt="link to dlr ukis">
      <clr-icon shape="ukis" class="is-solid" size="33" alt="ukis icon"></clr-icon>
    </a> -->
    <a class="nav-link" routerLink="/" routerLinkActive="active">
      <span class="title" title="{{title | translate}}">{{title | translate}}</span>
      <span class="title short" title="{{title | translate}}">{{shortTitle | translate}}</span>
    </a>
    <span class="version" *ngIf="version">v{{version}}</span>
  </div>

  <div class="header-nav" [clr-nav-level]="1">
    <ng-content select=".header-nav-el"></ng-content>
  </div>


  <div class="header-actions">
    <app-disclaimer-trigger></app-disclaimer-trigger>
    <ukis-language-switcher></ukis-language-switcher>
    <ukis-theme-picker></ukis-theme-picker>
  </div>

</clr-header>
