/* You can add global styles to this file, and also import other style files */
:root {
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}


body {
    --white: #fbfbfb;
    --success-light: #c4fdf3;
    --notice-light: #f6eebd;
    --warning-light: #df9b9b;
    --success: #76e8d5;
    --notice: #eddd96;
    --warning: #c06767;
    --success-dark: #4abeab;
    --notice-dark: #b7a659;
    --warning-dark: #8c3535;
    --gray-10: #f0f0f4;
    --gray-100: #e9eaee;
    --gray-400: #c3c3c3;
    --gray-600: #a3a5a6;
    --gray-1000: #858787;
    --gray-1200: #3d3d3d;
    --accent-color-100: #e0eaf8;
    --accent-color-200: #8da8e4;
    --accent-color-800: #6d82b0;
    --accent-color-1200: #485064;
    --accent-color-1400: #080b13;
    margin: 0px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: var(--gray-1200);
}


h1, h2, h3, h4 {
    font-family: Roboto-Bold;
    font-weight: normal;
    margin: 0.125rem;
    color: var(--gray-1200);
}

button {
    background: var(--accent-color-800);
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: var(--accent-color-100);
}
button:disabled {
    color: var(--gray-100);
    background: var(--gray-400);
    cursor: not-allowed;
}

select {
    border: none;
    padding: 0.25rem;
    background: var(--gray-10);
}

ul {
    margin: 0.125rem;
    color: var(--gray-1200);
}

a {
    text-decoration: none;
}


/*
main
┌─────────────────────────────────────────────┐
│┼───────────────────────────────────────────┼│
││header                                     ││
││                                           ││
│┼───────────────────────────────────────────┼│
│┼───────────────────────────────────────────┼│
││content                                    ││
││ ┌───────────────────────────────────────┐ ││
││ │ page                                  │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ └───────────────────────────────────────┘ ││
│┼───────────────────────────────────────────┼│
└─────────────────────────────────────────────┘
*/


.main {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.main .header {
    height: 3rem;
    background: var(--accent-color-1400);
    display: flex;
    flex-direction: row;
    align-items: center;
}


.main .content {
    position: relative;
    height: calc(100vh - 3rem);
}

.main .content .page {
    height: 100%;
    background-color: var(--gray-100);
}




.box {
    background: var(--gray-10);
    padding: 1rem;
    border-radius: 0.5rem;
    outline: var(--gray-400);
    outline-width: 1px;
    outline-style: solid;
    overflow: hidden; /* prevents background-colors from bleeding over border-radius */
}

.hasShadow {
    box-shadow:  0 0rem 1.0rem 0.1rem var(--gray-600);
}


