/* You can add global styles to this file, and also import other style files */
:root {
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}


body {
    --success-light: #DDF9C0;
    --success:       #b4d491;
    --success-dark:  #7b9164;
    --notice-light:  #F5F6CE;
    --notice:        #c4c5a1;
    --notice-dark:   #93947d;
    --warning-light: #df9b9b;
    --warning:       #b25e5e;
    --warning-dark:  #742c2c;
    --white:     #fbfbfb;
    --gray-10:   #f8f8fa;
    --gray-100:  #e9eaee;
    --gray-400:  #c3c3c3;
    --gray-600:  #a3a5a6;
    --gray-1000: #858787;
    --gray-1200: #3d3d3d;
    --accent-color-100:  #e0eef8;
    --accent-color-200:  #5aa4d9;
    --accent-color-800:  #467aaa;
    --accent-color-1200: #2a465c;
    --accent-color-1400: #070e16;
    margin: 0px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: var(--gray-1200);
}


h1, h2, h3, h4 {
    font-family: Roboto-Bold;
    font-weight: normal;
    margin: 0.125rem;
    color: var(--gray-1200);
}

h1 {
    font-size: large;
}

text {
    fill: var(--gray-1000);
}

button {
    background: var(--accent-color-200);
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: var(--accent-color-100);
    cursor: pointer;
}
button:disabled {
    color: var(--gray-100);
    background: var(--gray-400);
    cursor: not-allowed;
}
button:hover {
    background: var(--accent-color-800);
}
button:focus {
    background-color: var(--accent-color-1200);
}

button.clearButton {
    color: var(--accent-color-800);
    background: none;
    outline: 1px solid var(--accent-color-800);
}
button.clearButton:hover {
    background: var(--accent-color-100);
    outline: 1px solid var(--accent-color-1200);
}



select {
    border: none;
    padding: 0.25rem;
    background: var(--gray-10);
    color: var(--gray-1200);
}

ul {
    margin: 0.125rem;
    color: var(--gray-1200);
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
thead tr {
    background-color: var(--accent-color-100);
    text-align: left;
}
table th, table td {
    padding: 5px 15px;
}
table tbody tr {
    background-color: var(--white);
    border-bottom: 1px solid var(--gray-100);
}
/* table tbody tr:nth-of-type(even) {
    background-color: var(--gray-10);
} */
/* table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */



/*
main
┌─────────────────────────────────────────────┐
│┼───────────────────────────────────────────┼│
││header                                     ││
││                                           ││
│┼───────────────────────────────────────────┼│
│┼───────────────────────────────────────────┼│
││content                                    ││
││ ┌───────────────────────────────────────┐ ││
││ │ page                                  │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ └───────────────────────────────────────┘ ││
│┼───────────────────────────────────────────┼│
└─────────────────────────────────────────────┘
*/


.main {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.main .header {
    height: 3rem;
    background: var(--accent-color-1400);
    display: flex;
    flex-direction: row;
    align-items: center;
}






.box {
    background: var(--gray-10);
    padding: 1rem;
    border-radius: 0.5rem;
    outline: var(--gray-400);
    outline-width: 1px;
    outline-style: solid;
    overflow: hidden; /* prevents background-colors from bleeding over border-radius */
}

.hasShadow {
    box-shadow:  0 0rem 1.0rem 0.1rem var(--gray-600);
}


