/* You can add global styles to this file, and also import other style files */
:root {
}


body {
    --white: #fbfbfb;
    --success-light: #a1fced;
    --notice-light: #fff2b9;
    --warning-light: #e38d8d;
    --success: #7bf4e0;
    --notice: #e3d286;
    --warning: #b64c4c;
    --success-dark: #4ac3af;
    --notice-dark: #b5a24f;
    --warning-dark: #7d1f1f;
    --gray-10: #f0f0f0;
    --gray-100: #eee9e9;
    --gray-400: #c3c3c3;
    --gray-600: #a6a3a3;
    --gray-1000: #878585;
    --gray-1200: #3d3d3d;
    --accent-color-100: #dee9ff;
    --accent-color-200: #84a5eb;
    --accent-color-800: #647fba;
    --accent-color-1200: #3d4c6e;
    --accent-color-1400: #2c3851;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


h1, h2, h3, h4, ul {
    margin: 0.125rem;
}


/*
main
┌─────────────────────────────────────────────┐
│┼───────────────────────────────────────────┼│
││header                                     ││
││                                           ││
│┼───────────────────────────────────────────┼│
│┼───────────────────────────────────────────┼│
││content                                    ││
││ ┌───────────────────────────────────────┐ ││
││ │ page                                  │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ │                                       │ ││
││ └───────────────────────────────────────┘ ││
│┼───────────────────────────────────────────┼│
└─────────────────────────────────────────────┘
*/


.main {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.main .header {
    height: 5rem;
    background: var(--accent-color-1400);
    display: flex;
    flex-direction: row;
    align-items: center;
}


.main .content {
    position: relative;
    height: calc(100vh - 5rem);
}

.main .content .page {
    height: 100%;
    background-color: var(--gray-400);
}




button {
    background: var(--accent-color-800);
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: var(--accent-color-100);
}
button:disabled {
    color: var(--gray-100);
    background: var(--gray-400);
    cursor: not-allowed;
}



.box {
    background: var(--gray-10);
    padding: 1rem;
    border-radius: 0.5rem;
    outline: var(--gray-400);
    outline-width: 1px;
    outline-style: solid;
    overflow: hidden; /* prevents background-colors from bleeding over border-radius */
}

.hasShadow {
    box-shadow:  0 0rem 1.0rem 0.1rem var(--gray-600);
}


select {
    border: none;
    padding: 0.25rem;
    background: var(--gray-10);
}