<form clrForm>
    <div class="clr-row">
        <div class="clr-col-6">
            <clr-input-container>
                <label>lon ll</label>
                <input clrInput placeholder="Fill me in, scotty!" />
            </clr-input-container>
        </div>
        <div class="clr-col-6">
            <clr-input-container>
                <label>lat ll</label>
                <input clrInput placeholder="Fill me in, scotty!" />
            </clr-input-container>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-6">
            <clr-input-container>
                <label>lon tr</label>
                <input clrInput placeholder="Fill me in, scotty!" />
            </clr-input-container>
        </div>
        <div class="clr-col-6">
            <clr-input-container>
                <label>lat tr</label>
                <input clrInput placeholder="Fill me in, scotty!" />
            </clr-input-container>
        </div>
    </div>
</form>