<form [formGroup]="bboxFormGroup" class="container">
    <div class="content">
        <clr-input-container>
            <label>lonmin</label>
            <input clrInput formControlName="lllon" (focus)="onFocus()"/>
            <clr-control-error>Invalid input</clr-control-error>
        </clr-input-container>
    </div>
    <div class="content">
        <clr-input-container>
            <label>latmin</label>
            <input clrInput formControlName="lllat" (focus)="onFocus()"/>
            <clr-control-error>Invalid input</clr-control-error>
        </clr-input-container>
    </div>
    <div class="content">
        <clr-input-container>
            <label>lonmax</label>
            <input clrInput formControlName="urlon" (focus)="onFocus()"/>
            <clr-control-error>Invalid input</clr-control-error>
        </clr-input-container>
    </div>
    <div class="content">
        <clr-input-container>
            <label>latmax</label>
            <input clrInput formControlName="urlat" (focus)="onFocus()"/>
            <clr-control-error>Invalid input</clr-control-error>
        </clr-input-container>
    </div>
</form>
