.clr-form-control {
    margin-top: 0rem;
}

.clr-input {
    max-width: 50px;
}

.container {
    .clr-input {
        border-bottom: none;
    }
}

.container {
    width: 100%;
    margin: auto;
    display: table-row;
}

.a {
    display: table-cell;
    width: 25%;
    max-width: 50px;
    border-bottom: 1px solid #999999;
}

.b {
    display: table-cell;
    width: 25%;
    max-width: 50px;
    border-bottom: 1px solid #999999;
}

.c {
    display: table-cell;
    width: 25%;
    max-width: 50px;
    border-bottom: 1px solid #999999;
}

.d {
    display: table-cell;
    width: 25%;
    max-width: 50px;
    border-bottom: 1px solid #999999;
}
