<button class="btn btn-primary" (click)="showModal=true" title="{{ 'Graph' | translate }}">
    <clr-icon shape="organization"></clr-icon>
</button>


<div *ngIf="showModal" class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <h3 class="modal-title">{{ 'Current state' | translate }}</h3>
            <div class="modal-body">
                <clr-tabs clrLayout="vertical">

                    <clr-tab>
                        <button clrTabLink>{{ 'Processes only' | translate }}</button>
                        <clr-tab-content *clrIfActive>
                            <app-graphvizcomp [dotString]="dotStringPO$ | async"></app-graphvizcomp>
                        </clr-tab-content>
                    </clr-tab>

                    <clr-tab>
                        <button clrTabLink>{{ 'Full view' | translate }}</button>
                        <clr-tab-content *clrIfActive>
                            <app-graphvizcomp [dotString]="dotStringFull$ | async"></app-graphvizcomp>
                        </clr-tab-content>
                    </clr-tab>

                </clr-tabs>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="showModal = false">{{'Close' |
                    translate}}</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="modal-backdrop" aria-hidden="true"></div>
