<!-- <clr-alert [clrAlertType]="'info'" [clrAlertClosable]="false">
  <clr-alert-item>
    <span class="alert-text">

      <div *ngIf="isExpanded">
        {{ 'This is a demonstrator!' | translate }}
        <clr-icon shape="caret right" (click)="isExpanded = false"></clr-icon>
      </div>

      <div *ngIf="!isExpanded">
        <clr-icon shape="caret left" (click)="isExpanded = true"></clr-icon>
      </div>

    </span>
  </clr-alert-item>
</clr-alert> -->


<button *ngIf="!isExpanded" (click)="toggleAlert()" class="btn btn-icon btn-link">
  <clr-icon shape="info" class="is-highlight" size="24"></clr-icon>
</button>
