<button class="btn btn-outline" (click)="onClick()">
  <clr-icon shape="camera"></clr-icon>
  <span style="padding-left: 7px;" i18n>Take screenshot</span>
</button>


<clr-modal [(clrModalOpen)]="showScreenshotModal" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title" i18n>Screenshot</h3>
  <div class="modal-body">

      <img src="image"/>

  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showScreenshotModal = false" i18n>Cancel</button>
      <button type="button" class="btn btn-primary" (click)="download()" i18n>Download</button>
  </div>
</clr-modal>
