<clr-header class="header-1">

  <div class="branding">
    <a href="http://www.riesgos.de/en/" target="_blank" alt="link to riesgos homepage">
      <clr-icon shape="riesgos" class="is-slolid" size="33" alt="riesgos icon"></clr-icon>
    </a>
    <a href="https://www.dlr.de/eoc/desktopdefault.aspx/tabid-5413/10560_read-21914" target="_blank" alt="link to dlr ukis">
      <clr-icon shape="ukis" class="is-solid" size="33" alt="ukis icon"></clr-icon>
    </a>
    <a class="nav-link" routerLink="/" routerLinkActive="active">
      <span class="title">{{title | translate}}</span>
    </a>
  </div>

  <div class="header-nav" [clr-nav-level]="1">
    <ng-content select=".header-nav-el"></ng-content>
  </div>

  
  <div class="header-actions">
    <ukis-screenshot></ukis-screenshot>
    <ukis-language-switcher></ukis-language-switcher>
  </div>

</clr-header>