<button class="btn btn-primary" (click)="showResetModal = true" title="{{ 'Reset' | translate }}">
    <clr-icon shape="refresh"></clr-icon>
    <!-- <span style="padding-left: 7px;">{{'Reset' | translate}}</span> -->
</button>

<button class="btn btn-primary" (click)="showStoreModal = true" title="{{ 'Save' | translate }}">
    <clr-icon shape="download-cloud"></clr-icon>
    <!-- <span style="padding-left: 7px;">{{'Save' | translate}}</span> -->
</button>

<button class="btn btn-primary" (click)="showRestoreModal = true" title="{{ 'Restore' | translate }}">
    <clr-icon shape="upload-cloud"></clr-icon>
    <!-- <span style="padding-left: 7px;">{{'Restore' | translate}}</span> -->
</button>

<app-showgraph></app-showgraph>

<ukis-print *ngIf="isRiesgos2"></ukis-print>

<clr-modal [(clrModalOpen)]="showResetModal" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{'Reset' | translate}}</h3>
    <div class="modal-body">

        <p>{{'Are you sure you want to reset all your selections?' | translate}}</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onResetClicked()">{{'Reset' | translate}}</button>
        <button type="button" class="btn btn-outline" (click)="showResetModal = false">{{'Cancel' | translate}}</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showStoreModal" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{'Store data' | translate }}</h3>
    <div class="modal-body">

        <p>{{'Please enter a name under which to store the current state' | translate}}</p>

        <form clrForm>
            <clr-input-container>
                <label for="name">{{'Name' | translate }}</label>
                <input clrInput type="text" id="name" [formControl]="nameControl" />
                <clr-control-error>{{ 'invalid filename' | translate }}</clr-control-error>
            </clr-input-container>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveState()">{{'Store' | translate}}</button>
        <button type="button" class="btn btn-outline" (click)="showStoreModal = false">{{'Cancel' | translate}}</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showRestoreModal" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{'Restore data' | translate }}</h3>
    <div class="modal-body">

        <p>{{'Please upload a state that you want to restore.' | translate}}</p>
        <div class="dropzone" ukisDnd (fileDropped)="fileDropped($event)">
            <div class="text-wrapper">
                <div class="centered">{{dropFieldText$ | async | translate}}</div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="restoreState()" [disabled]="!(stateToBeRestored$ | async)">{{'Restore' | translate}}</button>
        <button type="button" class="btn btn-outline" (click)="cancelRestoreState()">{{'Cancel' | translate}}</button>
    </div>
</clr-modal>