<clr-stack-view class="ConfigurationWizard">
    <clr-stack-header style="margin-left: 20px;" i18n>Configuration Wizard</clr-stack-header>
    <clr-stack-block *ngFor="let process of processes$ | async" [clrSbExpanded]="hasFocus(process) | async" (clrSbExpandedChange)="onBlockClicked($event, process)">



        <clr-stack-label class="ConfigurationWizardLabel">
            <ng-container *ngIf="process.state.type as state">
                <ng-container [ngSwitch]="state">
                    <ng-container *ngSwitchCase="'unavailable'">
                        <clr-icon [attr.shape]="process.wizardProperties.shape"></clr-icon> <b class="p1">{{process.name}}</b>
                        <div style="float:right;"> <span class="label" i18n>Unavailable</span> </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'available'">
                        <clr-icon [attr.shape]="process.wizardProperties.shape" class="is-highlight"></clr-icon> <b class="p1">{{process.name}}</b>
                        <div style="float:right;"> <span class="label label-info" i18n>Available</span> </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'running'">
                        <clr-icon [attr.shape]="process.wizardProperties.shape" class="is-warning"></clr-icon> <b class="p1">{{process.name}}</b>
                        <div style="float:right;"> <span class="label label-warning" i18n>Running ...</span> </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'completed'">
                        <clr-icon [attr.shape]="process.wizardProperties.shape" class="is-success"></clr-icon> <b class="p1">{{process.name}}</b>
                        <div style="float:right;"> <span class="label label-success" i18n>Completed</span> </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'error'">
                        <clr-icon [attr.shape]="process.wizardProperties.shape" class="is-danger"></clr-icon> <b class="p1">{{process.name}}</b>
                        <div style="float:right;"> <span class="label label-danger" i18n>Error</span> </div>
                    </ng-container>

                </ng-container>
            </ng-container>
        </clr-stack-label>

        <clr-stack-block class="ConfigurationWizardContent">
            <clr-stack-content>
                <ukis-wizard-page [process]="process" >
                </ukis-wizard-page>
            </clr-stack-content>
        </clr-stack-block>


    </clr-stack-block>
</clr-stack-view>
