
<clr-vertical-nav-group *ngFor="let process of processes$ | async" (clrVerticalNavGroupExpandedChange)="onBlockClicked($event, process)">
    
    <clr-icon [attr.shape]="process.wizardProperties.shape" [ngClass]="getClassForProcess(process.state.type)" clrVerticalNavIcon></clr-icon>
    

    <div class="clr-row">
        <div class="clr-col-8" style="overflow: hidden;">
                {{process.name | translate}}
        </div>
        <div class="clr-col-4">
            <clr-signpost>

                <span class="label" [ngClass]="getClassForLabel(process.state.type)" clrSignpostTrigger>
                    {{processStateForTranslate(process.state.type) | translate}}
                </span>

                <clr-signpost-content>
                        <p class="signpost-content-body-paragraph">
                            <span class="label" [ngClass]="getClassForLabel('unavailable')">
                                {{processStateForTranslate('unavailable') | translate}}
                            </span>
                            {{ "UnavailableStateDescription" | translate }}
                            </p>
                        <p class="signpost-content-body-paragraph">
                            <span class="label" [ngClass]="getClassForLabel('available')">
                                {{processStateForTranslate('available') | translate}}
                            </span>
                            {{ "AvailableStateDescription" | translate }}
                            </p>
                        <p class="signpost-content-body-paragraph">
                            <span class="label" [ngClass]="getClassForLabel('running')">
                                {{processStateForTranslate('running') | translate}}
                            </span>
                            {{ "RunningStateDescription" | translate }}
                            </p>
                        <p class="signpost-content-body-paragraph">
                            <span class="label" [ngClass]="getClassForLabel('completed')">
                                {{processStateForTranslate('completed') | translate}}
                            </span>
                            {{ "CompletedStateDescription" | translate }}
                            </p>
                        <p class="signpost-content-body-paragraph">
                            <span class="label" [ngClass]="getClassForLabel('error')">
                                {{processStateForTranslate('error') | translate}}
                            </span>
                            {{ "ErrorStateDescription" | translate }}
                        </p>
                </clr-signpost-content>

            </clr-signpost>
        </div>
    </div>
    
    <ng-template [clrIfExpanded]="hasFocus(process) | async" (clrIfExpandedChange)="updateGroupExpand($event)">
        <clr-vertical-nav-group-children class="padding title-ellipsis" *clrIfExpanded>
            <ukis-wizard-page [process]="process"> </ukis-wizard-page>
        </clr-vertical-nav-group-children>
    </ng-template>

</clr-vertical-nav-group>

