<div class="page">
    <div class="studyAreas" *ngIf="studyAreas$ | async as studyAreas">
        <div class="studyArea box hasShadow" *ngFor="let studyArea of studyAreas">
    
            <div class="studyAreaDescription">

                <!-- <img [src]="studyArea.preview"> -->
                <h4>{{ studyArea.id | translate }}</h4>
                <p>{{ studyArea.description | translate }}</p>

                <div class="modeSelector">
                    <div class="mode card box " (click)="ruleSetPicked( studyArea.id, 'selectOneScenario' )">
                        <div class="cardBody">{{ 'selectOneScenario'  | translate }}</div>
                    </div>
                    <div class="mode card box " (click)="ruleSetPicked( studyArea.id, 'compareScenarios' )">
                        <div class="cardBody">{{ 'compareScenarios'  | translate }}</div>
                    </div>
                    <div class="mode card box " (click)="ruleSetPicked( studyArea.id, 'compareIdentical' )">
                        <div class="cardBody">{{ 'compareIdentical'  | translate }}</div>
                    </div>
                    <div class="mode card box " (click)="ruleSetPicked( studyArea.id, 'classic' )">
                        <div class="cardBody">{{ 'classic'  | translate }}</div>
                    </div>
                </div>

            </div>
    
        </div>
    </div>
</div>