.studyAreas {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 3rem;
}

.studyArea {
    margin: 1rem; 
}

.card {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.card:hover {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--accent-color-800);
}


.cardBody {
    font-weight: bolder;
}


.cardInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 2rem 1.5rem 2rem;
    border: 1px dashed var(--gray-400);
}

.cardInfoSvg {
    background: var(--gray-600); 
    width: 0.7rem; 
    height: 0.7rem; 
    display: block; 
    padding: 0.5rem;
    flex: 0 0 auto;
}

.modeSelector {
    display: grid;
    grid-template-columns: 30fr  30fr 30fr;
    gap: 15px;
}

.mode {

}

.backgroundSvg {

}