<div class="page">
    <div class="studyareas" *ngIf="studyAreas$ | async as studyAreas">
        <div class="studyarea" *ngFor="let studyArea of studyAreas">
    
            <div class="card box hasShadow">
                <div class="cardBody">
                    <img [src]="studyArea.preview">
                </div>
                <div class="cardFooter">
                    <h4>{{ studyArea.id }}</h4>
                    <p>{{ studyArea.description }}</p>
                    <ul>
                        <li><a (click)="ruleSetPicked( studyArea.id, 'selectOneScenario' )">selectOneScenario</a></li>
                        <li><a (click)="ruleSetPicked( studyArea.id, 'compareScenarios' )">compareScenarios</a></li>
                        <li><a (click)="ruleSetPicked( studyArea.id, 'compareIdentical' )">compareIdentical</a></li>
                        <!-- <li><a (click)="ruleSetPicked( studyArea.id, 'compareAdvanced' )">compareAdvanced</a></li> -->
                        <!-- <li><a (click)="ruleSetPicked( studyArea.id, 'classic' )">classic</a></li> -->
                    </ul>
                </div>
            </div>
    
        </div>
    </div>
</div>