.studyAreas {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 3rem;
}

.studyArea {
    margin: 1rem;
}

.card {
    padding: 1rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.card:hover {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--accent-color-800);
    background-color: var(--white);
}


.cardBody {
    font-weight: bolder;
}


.cardInfo {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 2rem 1.5rem 2rem;
    border: 1px dashed var(--gray-400);
}

.cardInfoSvg {
    background: var(--gray-600);
    width: 0.7rem;
    height: 0.7rem;
    display: block;
    padding: 0.5rem;
    flex: 0 0 auto;
}

.modeSelector {
    display: grid;
    grid-template-columns: 30fr  30fr 30fr;
    gap: 15px;
}

.mode {

}

.backgroundSvg {

}


.scenario-footer {
    padding: 0;
    position: absolute;
    bottom: 2rem;
    width: 90%;
    left: 5%;
    max-height: 15%;
}

.scenario-footer-first {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    /* max-width: 1000px; */
}

.consortium-logos {
    flex: 1 1 auto;
    max-width: 100px;
}

.consortium-logos img {
    width: 90%;
    opacity: 0.8;
}

.consortium-logos .first img {
    width: 30%;
}