<div class="fullPage">
  <app-svg class="backgroundSvg" style="background-color: var(--gray-10);" [path]="'assets/icons/riesgos.svg'"></app-svg>
  
  <div class="content">
      <div class="studyAreas" *ngIf="studyAreas$ | async as studyAreas">
          <div class="studyArea box hasShadow" *ngFor="let studyArea of studyAreas">
      
              <div class="studyAreaDescription">
  
                  <!-- <img [src]="studyArea.preview"> -->
                  <h4>{{ studyArea.id | translate }}</h4>
                  <p>{{ studyArea.description | translate }}</p>
  
                  <div class="modeSelector">
                      <div class="mode card box " (click)="ruleSetPicked( studyArea.id, 'selectOneScenario' )">
                          <div class="cardBody">{{ 'selectOneScenario'  | translate }}</div>
                          <img style="height: 80px; width: 80px; " src="assets/icons/simple.svg" />
                          <div class="cardInfo">
                              <app-svg class="cardInfoSvg" [path]="'assets/icons/questionmark.svg'"></app-svg>
                              {{ 'selectOneScenarioHelp' | translate }}
                          </div>
                      </div>
                      <div class="mode card box " (click)="ruleSetPicked( studyArea.id, 'compareScenarios' )">
                          <div class="cardBody">{{ 'compareScenarios'  | translate }}</div>
                          <img style="height: 80px; width: 80px; " src="assets/icons/compare.svg" />
                          <div class="cardInfo">
                              <app-svg class="cardInfoSvg" [path]="'assets/icons/questionmark.svg'"></app-svg>
                              {{ 'compareScenariosHelp' | translate }}
                          </div>
                      </div>
                      <div class="mode card box " (click)="ruleSetPicked( studyArea.id, 'compareIdentical' )">
                          <div class="cardBody">{{ 'compareIdentical'  | translate }}</div>
                          <img style="height: 80px; width: 80px; " src="assets/icons/compare_internal.svg" />
                          <div class="cardInfo">
                              <app-svg class="cardInfoSvg" [path]="'assets/icons/questionmark.svg'"></app-svg>
                              {{ 'compareIdenticalHelp' | translate }}
                          </div>
                      </div>
                      <!-- <div class="mode card box " (click)="ruleSetPicked( studyArea.id, 'classic' )">
                          <div class="cardBody">{{ 'classic'  | translate }}</div>
                          <img style="height: 80px; width: 80px; " src="assets/icons/advanced.svg" />
                          <div class="cardInfo">{{ 'classicHelp' | translate }}</div>
                      </div> -->
                  </div>
  
              </div>
      
          </div>
      </div>
  </div>
  
  <footer class="footer box">
      <div class="scenario-footer-first">
        <div class="consortium-logos first">
          <a href="https://www.bmbf.de/bmbf/en/home/home_node.html" target="_blank">
            <img src="/assets/logos/BMBF_es.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="https://www.dlr.de/EN" target="_blank">
            <img src="/assets/logos/dlr.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="http://www.gfz-potsdam.de/en/home/" target="_blank">
            <img src="/assets/logos/GFZ.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="https://www.awi.de/en/" target="_blank">
            <img src="/assets/logos/AWI.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="https://www.tum.de/en/" target="_blank">
            <img src="/assets/logos/TUM.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="http://52north.org" target="_blank">
            <img src="/assets/logos/52n.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="https://www.geomer.de/en/index.html" target="_blank">
            <img src="/assets/logos/geomer.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="http://www.eomap.com" target="_blank">
            <img src="/assets/logos/eomap.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="http://www.plan-risk-consult.de" target="_blank">
            <img src="/assets/logos/prc.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="https://www.dialogik-expert.de/en" target="_blank">
            <img src="/assets/logos/dialogik.png">
          </a>
        </div>
  
        <div class="consortium-logos">
          <a href="https://www.slu-web.eu/" target="_blank">
            <img src="/assets/logos/slu.png">
          </a>
        </div>
  
      </div>
  
      <div class="scenario-footer-second">
          <a href="mailto:riesgos@dlr.de" style="display: flex; align-items: center; color: var(--accent-color-800); padding-left: 1rem; padding-right: 1rem;">
            <app-svg [path]="'assets/icons/envelope2.svg'" style="display: inline-block; width: 15px; height: 15px; background-color: var(--accent-color-800); margin-right: 0.25rem;"></app-svg>
            {{'email' | translate}}
          </a>
          <a href="https://riesgos.de/es/" target="_blank" style="display: flex; align-items: center; color: var(--accent-color-800); padding-left: 1rem; padding-right: 1rem;">
            <app-svg [path]="'assets/icons/pointerRight.svg'" style="display: inline-block; width: 15px; height: 15px; background-color: var(--accent-color-800); margin-right: 0.25rem;"></app-svg>
            {{'website' | translate}}
          </a>
      </div>
  
  </footer>
</div>
