// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {

    .custom-slider {
        margin-left: 15px;
        margin-right: 15px;
    }

    .custom-slider .ng5-slider .ng5-slider-bar {
        background-color: var(--clr-forms-range-track-color, #e8e8e8);
        --clr-forms-range-track-color: var(--clr-color-neutral-400, var(--fallback-color-no-clr))
    }

    .custom-slider .ng5-slider .ng5-slider-selection {
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
        width: 12px;    
        height: 12px;
        top: -5px;
        bottom: 0;
        background-color: var(--clr-color-action-700);
    }
  

    .custom-slider .ng5-slider .ng5-slider-pointer:after {
        display: none;
    }

    .custom-slider .ng5-slider .ng5-slider-bubble {
        bottom: 14px;
        font-size: 0.6rem;
    }

    .custom-slider .ng5-slider .ng5-slider-limit {
    }

    .custom-slider .ng5-slider .ng5-slider-tick {
        width: 1px;
        height: 10px;
        margin-left: 4px;
        border-radius: 0;
        top: -1px;
    }
    
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    }
}