<button class="btn btn-primary" (click)="showResetModal = true">
    <clr-icon shape="refresh"></clr-icon>
    <span style="padding-left: 7px;" i18n>Reset</span>
</button>

<button class="btn btn-primary" (click)="showStoreModal = true">
    <clr-icon shape="download"></clr-icon>
    <span style="padding-left: 7px;" i18n>Save</span>
</button>

<button class="btn btn-primary" (click)="showRestoreModal = true">
    <clr-icon shape="upload"></clr-icon>
    <span style="padding-left: 7px;" i18n>Restore</span>
</button>


<clr-modal [(clrModalOpen)]="showResetModal" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title" i18n>Reset</h3>
    <div class="modal-body">

        <p i18n>Are you sure you want to reset all your selections?</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showResetModal = false" i18n>Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onResetClicked()" i18n>Reset</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showStoreModal" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title" i18n>Store data</h3>
    <div class="modal-body">

        <p i18n>Please enter a name under which to store the current state</p>

        <form clrForm>
            <clr-input-container>
                <label for="name" i18n>Name</label>
                <input clrInput type="text" id="name" [formControl]="nameControl" />
            </clr-input-container>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showStoreModal = false" i18n>Cancel</button>
        <button type="button" class="btn btn-primary" (click)="storeRow()" i18n>Store</button>
    </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="showRestoreModal" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title" i18n>Restore data</h3>
    <div class="modal-body">

        <p i18n>Please select a state that you want to restore.</p>

        <clr-datagrid [(clrDgSingleSelected)]="selectedStorageRow">
            <clr-dg-column i18n>Name</clr-dg-column>
            <clr-dg-column i18n>Creation date</clr-dg-column>
            <clr-dg-column i18n>Data</clr-dg-column>

            <clr-dg-row *clrDgItems="let row of dataStorage" [clrDgItem]="row">
                <clr-dg-cell>{{row.name}}</clr-dg-cell>
                <clr-dg-cell>{{row.date | date }}</clr-dg-cell>
                <clr-dg-cell>{{row.data.length }} products</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{dataStorage.length}} <span i18n>entries</span></clr-dg-footer>
        </clr-datagrid>
        <span i18n>Selected row:</span> <span *ngIf="selectedStorageRow">{{selectedStorageRow.name}}</span>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showRestoreModal = false" i18n>Cancel</button>
        <button type="button" class="btn btn-primary" (click)="restoreSelectedRow()" i18n>Restore</button>
    </div>
</clr-modal>