<button class="btn btn-primary" (click)="showResetModal = true">
    <clr-icon shape="refresh"></clr-icon>
    <span style="padding-left: 7px;">{{'Reset' | translate}}</span>
</button>

<button class="btn btn-primary" (click)="showStoreModal = true">
    <clr-icon shape="download"></clr-icon>
    <span style="padding-left: 7px;">{{'Save' | translate}}</span>
</button>

<button class="btn btn-primary" (click)="showRestoreModal = true">
    <clr-icon shape="upload"></clr-icon>
    <span style="padding-left: 7px;">{{'Restore' | translate}}</span>
</button>


<clr-modal [(clrModalOpen)]="showResetModal" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{'Reset' | translate}}</h3>
    <div class="modal-body">

        <p>{{'Are you sure you want to reset all your selections?' | translate}}</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showResetModal = false">{{'Cancel' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="onResetClicked()">{{'Reset' | translate}}</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showStoreModal" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{'Store data' | translate }}</h3>
    <div class="modal-body">

        <p>{{'Please enter a name under which to store the current state' | translate}}</p>

        <form clrForm>
            <clr-input-container>
                <label for="name">{{'Name' | translate }}</label>
                <input clrInput type="text" id="name" [formControl]="nameControl" />
            </clr-input-container>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showStoreModal = false">{{'Cancel' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="saveState()">{{'Store' | translate}}</button>
    </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="showRestoreModal" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{'Restore data' | translate }}</h3>
    <div class="modal-body">

        <p>{{'Please upload a state that you want to restore.' | translate}}</p>
        <div class="dropzone" ukisDnd (fileDropped)="fileDropped($event)">
            <div class="text-wrapper">
                <div class="centered">{{dropFieldText$ | async | translate}}</div>
            </div>
        </div>
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showRestoreModal = false">{{'Cancel' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="restoreState()">{{'Restore' | translate}}</button>
    </div>
</clr-modal>