/*
 * source:  https://github.com/vmware/clarity/blob/master/src/clr-angular/utils/_overwrites.clarity.scss
 */

:root {
    --clr-font-base-size: 4rem; // 14;
    --clr-vertical-nav-width: 18rem; // 12rem;//10rem !default;
    --clr-sidenav-width: 20rem;
    
    //Content Area Paddings
    --clr-content-area-padding-top: 0; // --clr-baseline*1;
    --clr-content-area-padding-right: 0; // --clr-baseline*1;
    --clr-content-area-padding-bottom: 0; // --clr-baseline*1;
    --clr-content-area-padding-left: 0; // --clr-baseline*1;
}
