

/*******************************************************
 *                                                     *
 *******************************************************/

.table-small {
    margin-top: 0;
    th {
        font-size: 0.4rem !important;
        padding: .2rem !important;
    }
    td {
        font-size: 0.4rem !important;
        padding: .2rem !important;
    }
}

.table-medium {
    td {
        // font-size: 0.4rem !important;
        padding: .2rem !important;
    }
}

.label, a.label {
    margin: 0 .25rem .25rem 0;
}

.tabsbody p, .tabsbody li, .ol-popup-content p, .ol-popup-content li {
    font-size: 0.6rem !important;
}

