::ng-deep .clr-vertical-nav {
  &.left,
  &.right {
    .clr-vertical-nav-header{
      margin-top: 0.5rem;
      > span {
        margin-left: 0.5rem;
      }
    }
  }

}


main.content-area.map-view {
  padding: 0;
}

clr-vertical-nav.clr-vertical-nav.left {
  padding-top: 1.8rem;
}