.wizard {
    padding: 0;
    width: 275px;
}

.wizard.unfocussed {
    max-width: 5rem;
    overflow: hidden;
    white-space: nowrap;
}

.wizard-header {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

