.wizard {
    padding: 0;
    width: 275px;
}

.wizard.unfocussed {
    max-width: 5rem;
    overflow: hidden;
    white-space: nowrap;
}

.wizard-header {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wizard.expanded {

}

.wizard.collapsed {
    width: 2.3rem;
    overflow: hidden;
    white-space: nowrap;
}
.wizard.collapsed .step-body {
    display: none;
}
.right .wizard.collapsed {
    right: 0px;
    position: absolute;
}
