<div class="wizard box" *ngIf="focus">
    <ng-container *ngIf="state$ | async as state">

        <div class="wizard-header">
            <app-svg *ngIf="partition === 'right' && state.wizardExpanded"  (click)="hideWizard()"   [path]="'assets/icons/double_caret_up.svg'" style="width: 20px; height: 20px; background-color: var(--gray-600);"></app-svg>
            <app-svg *ngIf="partition === 'right' && !state.wizardExpanded" (click)="expandWizard()" [path]="'assets/icons/double_caret_down.svg'" style="width: 20px; height: 20px; background-color: var(--gray-600);"></app-svg>
            <app-info [scenario]="scenario" [partition]="partition"></app-info>
            <app-svg *ngIf="partition === 'left' && state.wizardExpanded"  (click)="hideWizard()"   [path]="'assets/icons/double_caret_up.svg'" style="width: 20px; height: 20px; background-color: var(--gray-600);"></app-svg>
            <app-svg *ngIf="partition === 'left' && !state.wizardExpanded" (click)="expandWizard()" [path]="'assets/icons/double_caret_down.svg'" style="width: 20px; height: 20px; background-color: var(--gray-600);"></app-svg>
        </div>
    
        <div class="wizard-content" *ngIf="state.wizardExpanded">
            <div class="step" *ngFor="let datum of state.stepData; trackBy: trackByFn">
                <app-step [scenario]="scenario" [partition]="partition" [data]="datum"></app-step>
            </div>
        </div>

        <div class="wizard-settings">
            <button (click)="refreshClicked()" class="clearButton" style="display: flex; font-size: small; flex-direction: row; align-items: center; justify-content: center;">
                {{ 'Reset' | translate }}
                <app-svg [path]="'assets/icons/refresh.svg'" style="display: inline-block; background-color: var(--accent-color-800); width:15px; height: 15px; padding-left: 0.25rem;"></app-svg>
            </button>
            <button (click)="zoomClicked($event)" class="clearButton" style="display: flex; font-size: small; flex-direction: row; align-items: center; justify-content: center;">
                {{ 'Zoom to extent' | translate }}
                <!-- <img src="assets/icons/zoom_to.svg" width="15" height="15" /> -->
                <input type="checkbox" [checked]="zoomingToStep" (click)="zoomClicked($event)" style="accent-color: var(--accent-color-800)">
            </button>
        </div>

    </ng-container>
</div>

