<form [formGroup]="formGroup" (ngSubmit)="onSubmitClicked()" clrForm>
    <div [style.opacity]="disabled ? 0.3 : 1.0" [style.pointer-events]="disabled ? 'none' : 'inherit'">


        <div *ngFor="let parameter of parameters">
            <ng-container [ngSwitch]="parameter.description.wizardProperties.fieldtype">
                <div *ngSwitchCase="'string'">
                    <div class="clr-row">
                        <div class="clr-col-8">
                            <ukis-form-string-field [control]="formGroup.get(parameter.uid)" [parameter]="parameter">
                            </ukis-form-string-field>
                        </div>
                        <div class="clr-col-4" *ngIf="parameter.description.wizardProperties.description">
                            <clr-signpost>
                                <clr-signpost-content *clrIfOpen>
                                    <p [innerHTML]="parameter.description.wizardProperties.description | translate"></p>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'stringselect'">
                    <div class="clr-row">
                        <div class="clr-col-8">
                            <ukis-form-stringselect-field [control]="formGroup.get(parameter.uid)"
                                [parameter]="parameter">
                            </ukis-form-stringselect-field>
                        </div>
                        <div class="clr-col-4" *ngIf="parameter.description.wizardProperties.description">
                            <clr-signpost>
                                <clr-signpost-content *clrIfOpen>
                                    <p [innerHTML]="parameter.description.wizardProperties.description | translate"></p>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'select'">
                    <div class="clr-row">
                        <div class="clr-col-8">
                            <ukis-form-featureselect-field [control]="formGroup.get(parameter.uid)"
                                [parameter]="parameter">
                            </ukis-form-featureselect-field>
                        </div>
                        <div class="clr-col-4" *ngIf="parameter.description.wizardProperties.description">
                            <clr-signpost>
                                <clr-signpost-content *clrIfOpen>
                                    <p [innerHTML]="parameter.description.wizardProperties.description | translate"></p>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'bbox'">
                    <div class="clr-row">
                        <div class="clr-col-8">
                            <ukis-form-bbox-field [control]="formGroup.get(parameter.uid)" [parameter]="parameter">
                            </ukis-form-bbox-field>
                        </div>
                        <div class="clr-col-4" *ngIf="parameter.description.wizardProperties.description">
                            <clr-signpost>
                                <clr-signpost-content *clrIfOpen>
                                    <p [innerHTML]="parameter.description.wizardProperties.description | translate"></p>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>
                    </div>
                </div>
                <div *ngSwitchDefault>
                    <div class="clr-row">
                        <div class="clr-col-8">
                            <ukis-form-string-field [control]="formGroup.get(parameter.uid)" [parameter]="parameter">
                            </ukis-form-string-field>
                        </div>
                        <div class="clr-col-4" *ngIf="parameter.description.wizardProperties.description">
                            <clr-signpost>
                                <clr-signpost-content *clrIfOpen>
                                    <p [innerHTML]="parameter.description.wizardProperties.description | translate"></p>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <ng-container *ngIf="!disabled">
            <button type="submit" [disabled]="!formGroup.valid"
                class="btn btn-outline">{{'Submit' | translate}}</button>
        </ng-container>
    </div>
</form>