<form [formGroup]="fg" (ngSubmit)="onSubmit()"  clrForm>
    <div [style.opacity]="disabled ? 0.3 : 1.0" [style.pointer-events]="disabled ? 'none' : 'inherit'">

        
        <div *ngFor="let parameter of parameters">
            <ng-container [ngSwitch]="parameter.description.wizardProperties.fieldtype">
                <div *ngSwitchCase="'string'"  ><ukis-form-string-field [parameter]="parameter.description" [formControlName]="parameter.description.id" [formControl]="fg.get(parameter.description.id)"></ukis-form-string-field></div>
                <div *ngSwitchCase="'select'"  ><ukis-form-select-field [parameter]="parameter.description" [formControlName]="parameter.description.id" [formControl]="fg.get(parameter.description.id)"></ukis-form-select-field></div>
                <div *ngSwitchCase="'bbox'"    ><ukis-form-bbox-field   [parameter]="parameter.description" [formControlName]="parameter.description.id" [formControl]="fg.get(parameter.description.id)"></ukis-form-bbox-field></div>
                <div *ngSwitchDefault          ><ukis-form-string-field [parameter]="parameter.description" [formControlName]="parameter.description.id" [formControl]="fg.get(parameter.description.id)"></ukis-form-string-field></div>
            </ng-container>
        </div>
        
        <button type="submit" [disabled]="!fg.valid"  class="btn btn-outline" i18n>Configure</button>
    
    </div>
</form>
