
<clr-main-container [class]="theme$ | async">
  <app-global-alert *ngIf="ui.alert" [(alert)]="ui.alert"></app-global-alert>
  <app-global-progress *ngIf="ui.progress" [(progress)]="ui.progress"></app-global-progress>

  <app-header [ukis-title]="title" [ukis-version]="version">
    <a routerLink="/scenarios" routerLinkActive="active" class="nav-link nav-text header-nav-el">{{'Stories' | translate}}</a>
    <a routerLink="/map" routerLinkActive="active" *ngIf="currentMapName | async" class="nav-link nav-text header-nav-el">{{currentMapName | async}}</a>
    <a routerLink="/documentation" routerLinkActive="active" class="nav-link nav-text header-nav-el">{{'Documentation' | translate}}</a>
    <a routerLink="/licenses" routerLinkActive="active" class="nav-link nav-text header-nav-el">{{'Licenses' | translate}}</a>
  </app-header>
  <app-disclaimer></app-disclaimer>
  <router-outlet></router-outlet>
</clr-main-container>



