.clr-form-control {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.clr-control-label {
    color: darkgray;
}

.table-small {
    td {
        font-size: 0.4rem !important;
        padding: .2rem !important;
    }
}

.label, a.label {
    margin: 0 .25rem .25rem 0;
}