
.previewHtml {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.previewHtml #previewCanvas {
  flex: 2;
}
.previewHtml #sidebar {
  flex: 1;
}
.sidebarContainer {
  display: flex;
  flex-direction: column;
}