<button class="btn btn-primary" (click)="showResetModal = true" title="{{ 'Reset' | translate }}">
    <clr-icon shape="refresh"></clr-icon>
</button>

<button class="btn btn-primary" (click)="activatePrintModal()" title="{{ 'Print' | translate }}">
    <clr-icon shape="printer"></clr-icon>
</button>


<div *ngIf="showResetModal" class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <h3 class="modal-title">{{'Reset' | translate}}</h3>
            <div class="modal-body">

                <p>{{'Are you sure you want to reset all your selections?' | translate}}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onResetClicked()">{{'Reset' | translate}}</button>
                <button type="button" class="btn btn-outline" (click)="showResetModal = false">{{'Cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showResetModal" class="modal-backdrop" aria-hidden="true"></div>


<div *ngIf="showPrintModal" class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <h3 class="modal-title">{{'Print' | translate}}</h3>
            <div class="modal-body" style="overflow: scroll;">

                <div id="previewHtml" class="previewHtml" #previewHtml>
                    <canvas id="previewCanvas" #previewCanvas></canvas>
                    <div class="sidebarContainer">
                        <div id="sidebar" #sideBar></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onPrintClicked()">{{'Print' | translate}}</button>
                <button type="button" class="btn btn-outline" (click)="showPrintModal = false">{{'Cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showPrintModal" class="modal-backdrop" aria-hidden="true"></div>

