
.previewHtml {
  width: 800px;
  display: flex;
  flex-direction: row;
}
.previewHtml #previewCanvas {
  width: 500px;
  height: 500px;
}
.previewHtml .sidebarContainer {
  width: 350px;
  height: 500px;
}
.previewHtml .sidebarContainer #sidebar {
}