
.app-control {
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
    align-items: center;
    justify-content: space-evenly;
}

.clearButton {
    height: 1.5rem;
    width: 9rem;
}