<div class="app-control" *ngIf="(showLink$ | async)">

    <button (click)="linkClicked($event)"  [tooltip]="'LinkViewToggle' | translate"  class="button" style="z-index: 2; display: flex; font-size: small; flex-direction: row; align-items: center; justify-content: center;">
        <!-- {{ 'LinkViews' | translate }} -->
        <ng-container *ngIf="partitionsLinked$ | async; else crossedOutBlock">
            <div>&#9901;</div>
        </ng-container>
        <ng-template #crossedOutBlock>
            <div>&#9902;</div>
        </ng-template>
    </button>

</div>