<div class="app-control" *ngIf="(showLink$ | async)">

    <button (click)="linkClicked($event)"  [tooltip]="'LinkViewToggle' | translate"  class="button" style="z-index: 2; display: flex; font-size: larger; width: 100%; flex-direction: row; align-items: center; justify-content: center;">
        <!-- {{ 'LinkViews' | translate }} -->
        <ng-container *ngIf="partitionsLinked$ | async; else crossedOutBlock">
            <app-svg [path]="'assets/icons/married.svg'" style="width: 20px; height: 20px; background-color: var(--white);"></app-svg>
        </ng-container>
        <ng-template #crossedOutBlock>
            <app-svg [path]="'assets/icons/divorced.svg'" style="width: 20px; height: 20px; background-color: var(--white);"></app-svg>
        </ng-template>
    </button>

</div>