<main class="content-area">

  <div class="clr-row scenarios-view">
    <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12 center">
      <h3>{{ 'Pilot regions' | translate }}</h3>
      <p>
        {{ 'Pilot region description' | translate }}
      </p>
    </div>
  </div>

  <div class="clr-row scenarios-view">
    <div *ngFor='let scenario of scenarios$ | async' class="clr-col-4">

      <div class="card  clickable" [title]="( scenario.title | translate )">

        <a [routerLink]="['/map']" [queryParams]="{id: scenario.id}" title="{{ scenario.id | translate }}">
          <div class="card-img">
            <img [src]="scenario.preview | translate" alt="ukis logo white">
          </div>
        </a>

        <div class="card-footer">
          <span class="card-text">
            <a [routerLink]="['/map']" [queryParams]="{id: scenario.id}" title="{{ scenario.id | translate }}">
              {{scenario.title | translate}}
            </a>
          </span>
        </div>

      </div>

    </div>
  </div>

  <div class="clr-row scenarios-view">
    <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12 center">
      <p>
        {{ 'Further information can be found on the project website.' | translate }}
      </p>
    </div>
  </div>

  <div class="clr-row scenarios-view">
    <div class="center">
      <span>
        <a [href]="'https://riesgos.de/' + (translator.currentLang | lowercase)" target="_blank">
          <img [src]="'/assets/logos/riesgos_base_small_' + (translator.currentLang | lowercase) + '.svg'" alt="{{'website' | translate}}" style="height: 100px;">
        </a>
      </span>
    </div>
  </div>

  <footer class="clr-footer">
    <div class="scenario-footer-inner">
      <div class="clr-row">
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="https://www.bmbf.de/en" target="_blank">
            <img src="/assets/logos/BMBF_{{translator.currentLang | lowercase}}.png" width="200">
          </a>
        </div>
  
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="https://www.dlr.de/EN" target="_blank">
            <img src="/assets/logos/dlr.png" width="100">
          </a>
        </div>
  
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="http://www.gfz-potsdam.de/en/home/" target="_blank">
            <img src="/assets/logos/GFZ.png" width="100">
          </a>
        </div>
  
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="https://www.awi.de/en/" target="_blank">
            <img src="/assets/logos/AWI.png" width="100">
          </a>
        </div>
  
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="https://www.tum.de/nc/en/" target="_blank">
            <img src="/assets/logos/TUM.png" width="100">
          </a>
        </div>
  
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="http://52north.org" target="_blank">
            <img src="/assets/logos/52n.png" width="100">
          </a>
        </div>
  
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="https://www.geomer.de/en/index.html" target="_blank">
            <img src="/assets/logos/geomer.png" width="100">
          </a>
        </div>
  
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="http://www.eomap.com" target="_blank">
            <img src="/assets/logos/eomap.png" width="100">
          </a>
        </div>
  
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="http://www.plan-risk-consult.de" target="_blank">
            <img src="/assets/logos/prc.png" width="100">
          </a>
        </div>
  
        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="https://www.dialogik-expert.de/en" target="_blank">
            <img src="/assets/logos/dialogik.png" width="100">
          </a>
        </div>

        <div class="consortium-logos clr-col-1 clr-col-sm-auto">
          <a href="https://www.slu-web.eu/" target="_blank">
            <img src="/assets/logos/slu.png" width="100">
          </a>
        </div>
  
      </div>
    </div>
  
    <div class="scenario-footer-second">
      {{ 'Made with ' | translate }}
      <a href="https://github.com/dlr-eoc/ukis-frontend-libraries" target="_blank" alt="link to dlr ukis">
        <clr-icon shape="ukis" class="is-solid" size="33" alt="ukis icon" style="color: black;"></clr-icon>
      </a>
    </div>
  </footer>
</main>

<clr-modal *ngIf="showInfo" [(clrModalOpen)]="modalOpen" [clrModalSize]="'xl'" [clrModalStaticBackdrop]="false">

  <h3 class="modal-title">{{selectedScenario.title | translate}}</h3>
  <div class="modal-body">
    <img [src]="selectedScenario.preview" alt="ukis logo white">
    <span [innerHTML]="selectedScenario.content"></span>
  </div>
  <div class="modal-footer">
  </div>

</clr-modal>




<app-disclaimerpopup></app-disclaimerpopup>