/*
#map {
    width: 100%; 
    height: 900px;
}
*/

.ol-popup {
    z-index: 1000 !important;
}

.modal-content-wrapper {
    z-index: 1001 !important;
}


/* to fix an error in displaying Plotly-popups */
.main-svg {
    position: absolute;
    top: 0px;
}
