<clr-modal [(clrModalOpen)]="showModal" [clrModalClosable]="false">
    
    
    <div class="modal-body">
        
        <clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="false" [clrAlertClosable]="false">
            <clr-alert-item>
                <span style="font-weight:bolder;">
                        {{ 'Disclaimer' | translate }}
                </span>
            </clr-alert-item>
        </clr-alert>
      
        <p>
            {{ 'DisclaimerText' | translate }}
        </p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline btn-primary" (click)="hideModalSave()">
                {{ 'Understood and accept' | translate }}
        </button>
    </div>
</clr-modal>