<div>
  
  <div class="content-area">
    <div class="clr-row scenarios-view">
      <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12 center">
        <h3>{{'Pilot regions' | translate}}</h3>
        <p>
          <!-- <b>Based on decentralized web-services to access Data and trigger computation for different disciplines, such as
            geophysics, hydrology, geology, geography, geo-statistics, and remote sensing.</b> -->
          {{ 'Pilot region description' | translate }}
        </p>
      </div>
    </div>
    <div class="clr-row scenarios-view">
      <div class="clr-col-12 clr-col-sm-12 clr-col-md-4 clr-col-lg-4" *ngFor="let scenario of scenarios">
        <div class="card" [ngClass]="{'disabled': scenario.disabled}" [tabindex]="scenario.disabled? '-1': null"
          [title]="scenario.disabled? 'Showcase not Implemented!': scenario.title">
          <a [routerLink]="['/map']" [queryParams]="{id: scenario.id}" title="{{ scenario.id | translate }}"
            [ngClass]="{'disabled': scenario.disabled}" [tabindex]="scenario.disabled? '-1': null">
            <div class="card-img">
              <img [src]="scenario.preview" alt="ukis logo white">
            </div>
          </a>

          <div class="card-footer">
            <span class="card-text">
              <a [routerLink]="['/map']" [queryParams]="{id: scenario.id}" title="{{ scenario.id | translate }}"
                [ngClass]="{'disabled': scenario.disabled}" [tabindex]="scenario.disabled? '-1': null">
                {{scenario.title | translate}}
              </a>
            </span>


            <a role="button" class="info-icon" (click)="showModal(scenario)" [ngClass]="{'disabled': scenario.disabled}"
              [tabindex]="scenario.disabled? '-1': null">
              <clr-icon shape="info-standard"></clr-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-row scenarios-view">
      <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12 center">
        <p>
          {{ 'Further information can be found on the project website.' | translate }}
        </p>
      </div>
    </div>
    <div class="clr-row scenarios-view">
      <div class="center">
        <span>
          <a href="http://riesgos.de/en/" target="_blank">
            <img [src]="'/assets/logos/riesgos_base_small_' + (translator.currentLang | lowercase) + '.svg'" alt="{{'website' | translate}}" style="height: 100px;">
          </a>
        </span>
      </div>
    </div>


    <!-- <div class="clr-row scenarios-view">
      <div class="center">
        <h3 >{{'The stories are developed for the following hazards and their interactions, ' | translate}}</h3>
        <span>
          <figure class="logo" *ngFor="let item of hazardTypes">
            <img [src]="'/assets/logos/riesgos_'+item.abbreviation+'_.png'" [alt]="item.title">
            <figcaption>{{item.title}}</figcaption>
          </figure>
        </span>
        <h3 >{{'considering the following \"elements at risk\".' | translate}}</h3>
        <span>
          <figure class="logo" *ngFor="let item of elementsAtRisk">
            <img [src]="'/assets/logos/riesgos_'+item.abbreviation+'_.png'" [alt]="item.title">
            <figcaption>{{item.title | translate}}</figcaption>
          </figure>
        </span>
      </div>
    </div> -->
  </div>

  <clr-modal *ngIf="showInfo" [(clrModalOpen)]="modalOpen" [clrModalSize]="'xl'" [clrModalStaticBackdrop]="false">

    <h3 class="modal-title">{{selectedScenario.title | translate}}</h3>
    <div class="modal-body">
      <img [src]="selectedScenario.preview" alt="ukis logo white">
      <span [innerHTML]="selectedScenario.content"></span>
    </div>
    <div class="modal-footer">
    </div>
  
  </clr-modal>

  
  <footer class="scenario-footer">
    <div class="scenario-footer-inner">
      <div class="clr-row">
        <div class="clr-col-12 clr-col-sm-auto" style="margin-top:-2em;">
          <a href="https://www.bmbf.de/en" target="_blank">
            <img src="/assets/logos/BMBF_{{translator.currentLang | lowercase}}.png" width="200">
          </a>
        </div>
    
        <div class="clr-col-12 clr-col-sm-auto">
          <a href="https://www.dlr.de/EN" target="_blank">
            <img src="/assets/logos/dlr.png" width="100">
          </a>
        </div>
    
        <div class="clr-col-12 clr-col-sm-auto">
          <a href="http://www.gfz-potsdam.de/en/home/" target="_blank">
            <img src="/assets/logos/GFZ.png" width="100">
          </a>
        </div>
    
        <div class="clr-col-12 clr-col-sm-auto">
          <a href="https://www.awi.de/en.html" target="_blank">
            <img src="/assets/logos/AWI.png" width="100">
          </a>
        </div>
    
        <div class="clr-col-12 clr-col-sm-auto">
          <a href="https://www.tum.de/nc/en/" target="_blank">
            <img src="/assets/logos/TUM.png"
              width="100">
          </a>
        </div>
    
        <div class="clr-col-12 clr-col-sm-auto">
          <a href="http://52north.org" target="_blank">
            <img src="/assets/logos/52n.png" width="100">
          </a>
        </div>
    
        <div class="clr-col-12 clr-col-sm-auto">
          <a href="https://www.geomer.de/en/index.html" target="_blank">
            <img src="/assets/logos/geomer.png"
              width="100">
          </a>
        </div>
    
        <div class="clr-col-12 clr-col-sm-auto">
          <a href="http://www.eomap.com" target="_blank">
            <img src="/assets/logos/eomap.png" width="100">
          </a>
        </div>
    
        <div class="clr-col-12 clr-col-sm-auto">
          <a href="http://www.plan-risk-consult.de" target="_blank">
            <img src="/assets/logos/prc.png" width="100">
          </a>
        </div>
    
        <div class="clr-col-12 clr-col-sm-auto">
          <a href="https://www.dialogik-expert.de/en" target="_blank">
            <img src="/assets/logos/dialogik.png" width="100">
          </a>
        </div>
    
      </div>
    </div>
  </footer>
</div>
