<div style="display: flex; align-items: center;">

    <ng-container *ngIf="partition === 'right'">
        <app-svg 
            *ngIf="!!(allowsReset$ | async)"
            (click)="reset()"
            [tooltip]="'Danger!' | translate" 
            [path]="'assets/icons/refresh.svg'"
            style="display: inline-block; background-color: var(--gray-600); width:15px; height: 15px; padding-left: 0.25rem;"
        ></app-svg>
    </ng-container>
    
    <h4 style="color: var(--gray-600)">{{ title$ | async }}</h4> 
    
    
    <ng-container *ngIf="partition === 'left'">
        <app-svg 
            *ngIf="!!(allowsReset$ | async)"
            (click)="reset()"
            [tooltip]="'Danger!' | translate" 
            [path]="'assets/icons/refresh.svg'"
            style="display: inline-block; background-color: var(--gray-600); width:15px; height: 15px; padding-left: 0.25rem;"
        ></app-svg>
    </ng-container>

</div>

