
.map {
    height: 100%;
    width: 100%;
}

.gray {
    /* filter: grayscale(0.8); */
}


.popupContent {
    background: var(--gray-10);
    padding: .5rem;
    border-radius: .25rem;
    outline-width: 1px;
    outline-color: var(--gray-400);
    outline-style: solid;
}
  .arrow-top-left:before {
    content: "";
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--gray-10) transparent;
    position: absolute;
    transform: translate(0px, -10px);
  }
  .arrow-top-right:before {
    content: "";
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--gray-10) transparent;
    position: absolute;
    transform: translate(0, -10px);
    right: 0px;
  }
  .arrow-bottom-left:after {
    content: "";
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--gray-10) transparent;
    position: absolute;
    transform: rotate(180deg);
  }
  .arrow-bottom-right:after {
    content: "";
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--gray-10) transparent;
    position: absolute;
    transform: rotate(180deg);
    right: 0px;
  }



.closeIcon {
    float: right;
    cursor: default;
    color: var(--gray-600);

    /* increases clickable area */
    padding: .5em;
    margin: -.5em;
}

.closeIcon:hover {
    color: var(--gray-1200);
}


.left .ol-zoom {
    right: .5em;
    left: unset;
}
.left .ol-attribution {
    left: 0;
    right: unset;
    border-radius: 0 4px 0;
}