<div class="container">
  <div class="one">
      <clr-select-container>
          <label class="clr-col">
            {{parameter.description.wizardProperties.name | translate}}:
          </label>
          <select class="clr-col" clrSelect [formControl]="stringControl">
              <option *ngFor="let item of stringOptions" [ngValue]="item">{{item | regexTranslate}}</option>
          </select>
          <clr-control-helper>{{parameter.description.wizardProperties.description | translate}}</clr-control-helper>
          <clr-control-error>Invalid input</clr-control-error>
        </clr-select-container>
  </div>

  <!-- Deactivated: sometimes interaction cancels unexpectedly or clicks aren't being registered. -->
    <ng-container *ngIf="(featureSelectionOngoing$ | async) as ongoing; else activateButton">
        <div class="two">
          <clr-icon shape="feature-select" [title]="'select on map' | translate"
          (click)="activateFeatureselectInteraction(false)" [style.color]="'#0072a3'"
          size="30"></clr-icon>
        </div>
  </ng-container>
  <ng-template #activateButton>
      <div class="two">
        <clr-icon shape="feature-select" [title]="'select on map' | translate"
        (click)="activateFeatureselectInteraction(true)" [style.color]="'#575757'"
        size="26"></clr-icon>
      </div>
  </ng-template>

</div>








