<form>
    <div class="formElement" *ngFor="let input of data">
        <ng-container *ngIf="input.options">
            <label [for]="input.label">{{ input.label | translate }}:</label>

            <select *ngIf="(input.options | keyvalue).length > 1 && !autoPilot" >
                <option (click)="select(input.id, undefined)"></option>
                <option *ngFor="let option of input.options | keyvalue" (click)="select(input.id, option.value)" [selected]="isSelected(input.id, option)">{{ option.key }}</option>
            </select>

            <select *ngIf="(input.options | keyvalue).length === 1 && !autoPilot" >
                <option *ngFor="let option of input.options | keyvalue" (click)="select(input.id, option.value)" [selected]="true">{{ option.key }}</option>
            </select>

            <p *ngIf="autoPilot" style="color: var(--gray-1000)">{{ input.selected || "Not set yet" }}</p>
            
        </ng-container>
    </div>
    <button *ngIf="!autoPilot" [disabled]="!allValuesSet()" (click)="execute()">{{ 'Execute' | translate }}</button>
</form>