<form>
    <div class="formElement" *ngFor="let formElement of formElements | keyvalue">
        
            <label [for]="formElement.key">{{ formElement.key | translate }}:</label>

            <select *ngIf="formElement.value.options.length > 1 && !autoPilot" >
                <option (click)="select(formElement.key, undefined)"></option>
                <option *ngFor="let option of formElement.value.options" (click)="select(formElement.key, option)" [selected]="isSelected(formElement.key, option)">{{ option }}</option>
            </select>

            <select *ngIf="formElement.value.options.length === 1 && !autoPilot" >
                <option *ngFor="let option of formElement.value.options" (click)="select(formElement.key, option)" [selected]="true">{{ option }}</option>
            </select>

            <p *ngIf="autoPilot" style="color: var(--gray-1000)"> {{ formElement.value.selected }} </p>
            
    </div>
    <button *ngIf="!autoPilot" [disabled]="!allValuesSet()" (click)="execute($event)">{{ 'Execute' | translate }}</button>
</form>