<div id="container" #container [style]="{'width': width + 'px', 'height': graphHeight + 'px'}"></div>
<div class="radioContainer" style="display: flex;">
    <div *ngFor="let grouping of groupings">
        <label for="grouping.label">{{ grouping.label }}</label><br>
        <input 
        type="radio"
        id="grouping.label"
        name="grouping.label"
        value="grouping.label" 
        (click)="updateGrouping(grouping.label)"
        [checked]="grouping.label === selectedGrouping">
    </div>
</div>
