<div id="container" #container [style]="{'width': width + 'px', 'height': graphHeight + 'px'}"></div>
<div *ngIf="groupings.length > 1" class="radioContainer" style="display: flex;">
    <div *ngFor="let grouping of groupings" style="margin: 0 .25rem 0 .25rem;">
        <label for="grouping.label">{{ grouping.label | sTranslate }}</label><br>
        <input 
        type="radio"
        id="grouping.label"
        name="grouping.label"
        value="grouping.label" 
        (click)="updateGrouping(grouping.label)"
        [checked]="grouping.label === selectedGrouping">
    </div>
</div>
