<app-read-more [text]="process.description | translate" [threshold]="10"></app-read-more>

<ng-container *ngIf="process.wizardProperties.providerUrl">
    <p class="p3" style="white-space: no-wrap;">
        {{'Provider' | translate}}: <a href="{{process.wizardProperties.providerUrl}}" target="_blank" class="label label-blue clickable" style="white-space: pre-line;">{{process.wizardProperties.providerName}}</a>
    </p>
</ng-container>

<div class="wizardElement">
    <ng-container [ngSwitch]="process.state.type">


        <ng-container *ngSwitchCase="'unavailable'">
            <p class="p3">
                <span class="label" >{{'This process can not be configured yet.' | translate}}</span>
            </p>
        </ng-container>

        <ng-container *ngSwitchCase="'available'">
            <ukis-form [process]="process" [parameters]="parameters$ | async"></ukis-form>
        </ng-container>


        <ng-container *ngSwitchCase="'running'">
            <span class="spinner spinner-inline" >{{'Loading...' | translate}}</span>
        </ng-container>

        <ng-container *ngSwitchCase="'completed'">
            <ukis-form [parameters]="parameters$ | async" [disabled]="true"> </ukis-form>
            <button class="btn btn-outline" (click)="onReconfigureClicked()" >{{'Reconfigure' | translate}}</button>
        </ng-container>

        <ng-container *ngSwitchCase="'error'">

            <div class="alert alert-danger">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle" style="margin:0px;"></clr-icon>
                        </div>
                        <span class="alert-text">
                            {{process.state.message}}
                        </span>
                    </div>
                </div>
            </div>


            <button class="btn btn-outline" (click)="onReconfigureClicked()" >{{'Retry' | translate}}</button>
        </ng-container>

    </ng-container>
</div>