
<p>{{process.description}}</p>

<div class="wizardElement">
    <ng-container [ngSwitch]="process.state">

        <ng-container *ngSwitchCase="'unavailable'">
            <span class="label" i18n>This process can not be configured yet.</span>
        </ng-container>

        <ng-container *ngSwitchCase="'available'">
            <ukis-form [parameters]="parameters" (formSubmitted)="onSubmit($event)"></ukis-form>
        </ng-container>


        <ng-container *ngSwitchCase="'running'">
            <span class="spinner spinner-inline" i18n> Loading... </span>
        </ng-container>

        <ng-container *ngSwitchCase="'completed'">
            <ukis-form [parameters]="parameters" (formSubmitted)="onSubmit($event)" [disabled]="true">
            </ukis-form>
            <button class="btn btn-outline" (click)="onNextClicked()" i18n>Next</button>
            <button class="btn btn-outline" (click)="onReconfigureClicked()" i18n>Reconfigure</button>
        </ng-container>

        <ng-container *ngSwitchCase="'error'">

            <div class="alert alert-danger">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                            {{getErrorMessage(processDescription)}}
                        </span>
                    </div>
                </div>
            </div>


            <button class="btn btn-outline" (click)="onReconfigureClicked()" i18n>Retry</button>
        </ng-container>

    </ng-container>
</div>