<ng-container *ngIf="heading">
    <h4>{{ heading | translate }}</h4>
</ng-container>

<ng-container *ngIf="(baseData$ | async) as baseData; else noData">
    <ng-container *ngIf="containsData(baseData); else noData">
        <div [style]="{'width': width + 'px', 'height': height + 'px'}">
            <app-grouped-bar-chart
            [baseData]="baseData"
            [width]="width"
            [height]="height"
            [groupings]="groupings"></app-grouped-bar-chart>
        </div>
    </ng-container>

    <ng-container *ngIf="additionalText && containsData(baseData)">
        <div [innerHTML]="additionalText | translate"></div>
    </ng-container>
</ng-container>

<ng-template #noData>
    <table>
        <tr><td>{{ 'no_data' | translate }}</td></tr>
    </table>
</ng-template>