<button class="btn btn-primary" (click)="show = true" title="{{ 'Print Map' }}">
  <clr-icon shape="printer"></clr-icon>
</button>



<div *ngIf="show" class="modal">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">

        <h3 class="modal-title"> {{ 'Print Map preview' }}</h3>
        
        <div class="modal-body">
          <div class="clr-row" style="overflow: hidden;">
            <div class="clr-col-4">
      
              <form [formGroup]="pdfParametersForm" clrForm [clrLayout]="'compact'" [clrLabelSize]="3">
      
                <clr-input-container>
                  <label>{{ 'Map title' }}</label>
                  <input clrInput type="text" formControlName="title" />
                </clr-input-container>
      
                <clr-textarea-container>
                  <label>{{ 'Description' }}</label>
                  <textarea clrTextarea type="text" formControlName="description"></textarea>
                  <clr-control-helper>Max-length: {{ maxDescriptionLength }} letters</clr-control-helper>
                  <clr-control-error>Length may not be larger than {{ maxDescriptionLength }} letters</clr-control-error>
                </clr-textarea-container>
      
                <clr-control-container>
                  <label>{{ 'Format' }}:</label>
                  <select type="text" formControlName="format" clrControl>
                    <option *ngFor="let format of formatOptions" [value]="format">{{format}}</option>
                  </select>
                  <clr-control-helper></clr-control-helper>
                  <clr-control-error *clrIfError="'required'">{{ 'This is a required field' }}</clr-control-error>
                </clr-control-container>
      
                <clr-control-container>
                  <label>{{ 'Orientation' }}:</label>
                  <select type="text" formControlName="orientation" clrControl>
                    <option *ngFor="let orientation of orientationOptions" [value]="orientation">{{orientation}}</option>
                  </select>
                  <clr-control-helper></clr-control-helper>
                  <clr-control-error *clrIfError="'required'">{{ 'This is a required field' }}</clr-control-error>
                </clr-control-container>
      
                <clr-control-container>
                  <label>{{ 'Resolution' }}:</label>
                  <select type="text" formControlName="resolution" clrControl>
                    <option *ngFor="let resolution of resolutionOptions" [value]="resolution">{{resolution}}</option>
                  </select>
                  <clr-control-helper>DPI</clr-control-helper>
                  <clr-control-error *clrIfError="'required'">{{ 'This is a required field' }}</clr-control-error>
                </clr-control-container>
      
                <clr-control-container>
                  <label>{{ 'Output' }}:</label>
                  <select type="text" formControlName="output" clrControl>
                    <option *ngFor="let output of outputOptions" [value]="output">{{output}}</option>
                  </select>
                  <clr-control-helper></clr-control-helper>
                  <clr-control-error *clrIfError="'required'">{{ 'This is a required field' }}</clr-control-error>
                </clr-control-container>
      
                
                <button *ngIf="!isRendering" [disabled]="!pdfParametersForm.valid" class="btn btn-primary"
                  (click)="updateMap()">Update page</button>
      
                <span class="spinner-container" *ngIf="isRendering">
                  <clr-spinner clrMedium clrAssertive>{{ 'Rendering...' }}</clr-spinner>
                  <span class="spinner-text">{{ 'Map is being rendered in' }} {{pdfParametersForm.controls.resolution.value}} DPI</span>
                </span>
      
                <button *ngIf="!isRendering" [disabled]="!pdfParametersForm.valid" (click)="exportToPdf()"
                  class="btn btn-primary">{{ 'Print Map page' }}
                </button>
              </form>
            </div>
            <div class="clr-col-8">
              <ukis-scaler [width]=previewWidth [height]=previewHeight>
                <ukis-print-map></ukis-print-map>
              </ukis-scaler>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div *ngIf="show" class="modal-backdrop" aria-hidden="true"></div>
