
.page {
    height: 100%;
    position: relative;
}

.maps {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.maps .page-map {
    flex: 1 1 auto;
}


.page-wizard {
    position: absolute;
    top: 1rem;
    width: 275px;
}

.page-wizard.left {
    left: 1rem;
}

.page-wizard.right {
    right: 1rem;
}