
.page {
    height: 100%;
    position: relative;
}

.maps {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.maps .page-map {
    flex: 1 1 auto;
}

.maps .page-map.right {
    border-left: 1px solid var(--accent-color-800);
}


.page-wizard {
    position: absolute;
    top: 1rem;
}

.page-wizard.left {
    left: 1rem;
}

.page-wizard.right {
    right: 1rem;
}