// .scenario-footer {
//   position: absolute;
//   background-color: #fff;
//   bottom: 0px;
//   height: 20%;
// }

.scenario-footer-inner {
  border-top: 1px solid #e5e5e5;
  padding: 2em 0 0 0;

  .consortium-logos {
    width: 9%;
    img {
      width: 100%;
    }
  }
}

.scenario-footer-second {
  border-top: 1px solid #e5e5e5;
  text-align: right;
}


.scenarios-view {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
  
    .center {
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      figure {
        display: inline-block;
        margin: 1em 2em;
        min-width: 5.5rem;
      }
    }
    .card {
      overflow: hidden;
  
      .card-img:last-child > img {
        border-radius: 0;
      }
    }
    .logo {
      img {
        width: 2rem;
      }
    }
  
    .card-block,
    .card-footer {
      display: flex;
      padding: 0 0.5rem;
      max-height: 1.75rem;
      justify-content: space-between;
      .card-text {
        margin-top: 0.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        h4 {
          margin: 0;
        }
      }
      .info-icon {
        margin: 0;
        padding-top: 0.5em;
        padding-left: 0.5em;
        clr-icon {
          height: 20px;
          width: 20px;
        }
      }
    }
  
    .disabled {
      cursor: not-allowed;
      pointer-events: all !important;
      pointer-events: none;
      text-decoration: none;
      color: #ccc;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ccc;
        opacity: 0.2;
        content: " ";
      }
    }
  }
  
  .modal-body {
    img {
      max-width: 300px;
    }
  }
  