<clr-select-container>

  <label class="clr-col-md-3">
    {{parameter.description.wizardProperties.name}}:
  </label>
    
  <select class="clr-col-md-9" clrSelect [formControl]="stringControl" (focus)="onFocus(true)" (blur)="onFocus(false)">
      <option *ngFor="let item of stringOptions" [ngValue]="item">{{item}}</option>
  </select>

  <clr-control-helper>{{parameter.description.description}}</clr-control-helper>
  <clr-control-error>Invalid input</clr-control-error>

</clr-select-container>
