.tutorialPage {
    padding: 2rem 5rem 2rem 5rem;
}

h1 {
    font-size: x-large;
    margin-bottom: 2rem;
}

h2 {
    font-size: large;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

p {
    margin: 0.5rem 0 0.5rem 0;
}